@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: calc(100vh - 68px);
  background-color: #ffb72b;
}

.bg-bee-main {
  background-color: #27262c;
}

.font-amount-prize {
  font-size: 62px;
  font-weight: 800;
}

.prize {
  min-height: 500px;
}

.prize p {
  font-size: 24px;
  font-weight: 800;
}

.image-hive {
  top: 14rem;
  left: 50%;
  transform: translateX(-120%);
}

.loading {
  width: 100px;
  height: 50px;
  cursor: progress;
  border-radius: 6%;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

.text-bee-main {
  color: #ffb72b;
}

.text-bee-black {
  color: #27262c;
}

.bg-bee-secondary {
  background-color: #fdffa9;
}

.bg-bee-honey {
  background-color: #ffb72b;
}

.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td,
tr th {
  border-radius: 0.625rem;
}

.border-bee {
  border-radius: 0.625rem;
}

.button-offer-submit {
  background-color: #ffb72b;
  color: rgb(255, 255, 255);
}

.button-offer-submit:hover {
  background-color: #27262c;
  color: #ffb72b;
}
